.grid-item {
  float: left;
  width: 240px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  border-color: #4a638c;
  border-width: 2px;
  border-style: solid;
  border-radius: 2%;
}

.grid-image {
  display: block;
  width: 100%;
  height: auto;
}

.pin-image {
  max-width: 100%;
}